* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    background-color: lightcyan;
}

header {
    background-color: #f2f2f2;
    padding: 22px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 10px;
}

.opcion{
    text-decoration: none;
    font-size: large;
    color: #ba0e0e;
}
.opcion:hover{
    font-weight: 700;
    color: blue;
}
section {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.hero {
    text-align: center;
}

.project {
    text-align: center;
    margin-bottom: 40px;
}

.project img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me img {
    width: 200px;
    margin-right: 20px;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

form button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
.imagen{
    height: 300px;
    width: 400px;
    margin: 30px;
    padding: 5px;
}
nav ul li a {
    color: #201943;
}
